nyan_server/node_modules/
nyan_server/dist/

nyan_express/node_modules/
nyan_express/dist/
nyan_express/config.yml

nyan_nest/node_modules/
nyan_nest/dist/

nyan_uni/node_modules/
nyan_uni/dist/
nyan_uni/unpackage/
nyan_uni/.hbuilderx
nyan_uni/.vite

nyan_uni_cli/node_modules/
nyan_uni_cli/dist/
nyan_uni_cli/unpackage/
nyan_uni_cli/.hbuilderx
nyan_uni_cli/.vite

nyan_manage/dist/
nyan_manage/node_modules/
nyan_manage/.vscode
nyan_manage/.vite

nyan_next/node_modules/
nextjs-dashboard/node_modules/
nextjs-dashboard/.env

nyan_python/study_project/deepseekenv/
nyan_python/**/*.pyc
nyan_python/**/__pycache__/
nyan_python/**/.pytest_cache/

nyan_python/**/.env
nyan_python/**/data/
nyan_python/**/models/
nyan_python/**/vector_store
nyan_python/**/*.pdf

nyan_langchian/**/.env
nyan_langchian/**/data/
nyan_langchian/**/files/
nyan_langchian/**/documents/
nyan_langchian/**/models/
nyan_langchian/**/vector_store
nyan_langchian/**/*.pdf