nyan_server/node_modules/
nyan_server/dist/

nyan_express/node_modules/
nyan_express/dist/
nyan_express/config.yml

nyan_nest/node_modules/
nyan_nest/dist/

nyan_uni/node_modules/
nyan_uni/dist/
nyan_uni/unpackage/
nyan_uni/.hbuilderx
nyan_uni/.vite

nyan_manage/dist/
nyan_manage/node_modules/
nyan_manage/.vscode
nyan_manage/.vite

nyan_next/node_modules/
nextjs-dashboard/node_modules/
nextjs-dashboard/.env

nyan_python/study_project/venv/
nyan_python/study_project/**/*.pyc
nyan_python/study_project/**/__pycache__/
