$fs-sm: 12px;
$fs-md: 14px;
$fs-lg: 16px;
$fs-lx: 18px;

$app-header-height: 60px;

$primary-light-color: #00a65a;
$primary-dark-color: #008d4c;
$primary-active-color: #52c41a;
$primary-active-bg-color: #f6ffed;
$bg-color: #f2f2f2;
$bg-active-color: #eaedf1;
$white-color: #ffffff;

// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$text-active-color: #52c41a;
$text-base-color: #676a6c;
$text-desc-color: #999999;

$text-nav-active-color: #23508e;

$border-base-color: #eeeeee;

$flex-jc: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
    evenly: space-evenly
);

$flex-ai: (
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch
);