.btn {
	width: 100%;
	height: 94rpx;
	line-height: 94rpx;
	font-size: $uni-font-size-base;
	border-radius: 47rpx;
	
	&::after {
		border: 0;
	}
}
.btn-primary {
	background-color: $uni-color-primary;
	color: $uni-text-color-inverse;
}