@font-face {
  font-family: "iconfont"; /* Project id 1990142 */
  src: url('../static/iconfont.woff2?t=1710764141245') format('woff2'),
       url('../static/iconfont.woff?t=1710764141245') format('woff'),
       url('../static/iconfont.ttf?t=1710764141245') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconxingxing:before {
  content: "\e616";
}

.iconsousuo:before {
  content: "\e630";
}

.iconxialajiantou1:before {
  content: "\e625";
}

.iconshanglajiantou:before {
  content: "\e626";
}

.iconuser:before {
  content: "\e75f";
}

.iconhousemanage:before {
  content: "\e61c";
}

.iconmember:before {
  content: "\e69f";
}

.iconstarfill:before {
  content: "\e607";
}

.iconstar:before {
  content: "\e7f0";
}

.iconlove:before {
  content: "\e606";
}

.icondynamic:before {
  content: "\e621";
}

.iconvideo:before {
  content: "\e61b";
}

.iconcheckbox:before {
  content: "\e870";
}

.iconcheckboxno:before {
  content: "\e979";
}

.iconwechat:before {
  content: "\e618";
}

.iconjoin:before {
  content: "\e748";
}

.iconarrow-up-bold:before {
  content: "\e688";
}

.iconcoupon:before {
  content: "\e62f";
}

.iconstars:before {
  content: "\e8c4";
}

.iconshare:before {
  content: "\e603";
}

.iconzan_hv:before {
  content: "\e61a";
}

.iconzan:before {
  content: "\e60b";
}

.iconcode:before {
  content: "\e60d";
}

.iconservice:before {
  content: "\e63f";
}

.iconaddphoto:before {
  content: "\e6eb";
}

.iconhomepage:before {
  content: "\eb96";
}

.iconsquare:before {
  content: "\eb9f";
}

.iconmanage:before {
  content: "\e610";
}

.iconphoto:before {
  content: "\e66b";
}

.iconphotograph:before {
  content: "\e60a";
}

.iconadd:before {
  content: "\e76f";
}

.iconcheck:before {
  content: "\e614";
}

.iconcopy:before {
  content: "\e706";
}

.iconcall:before {
  content: "\e6dc";
}

.iconmessage:before {
  content: "\e773";
}

.iconempty:before {
  content: "\e6a6";
}

.iconmap:before {
  content: "\e62e";
}

.icontraffic:before {
  content: "\e64b";
}

.iconxuexiao_xuesheng:before {
  content: "\e662";
}

.iconyiyuan:before {
  content: "\e65a";
}

.iconbank:before {
  content: "\e8ce";
}

.iconShoppingcartfinancebusiness:before {
  content: "\e623";
}

.iconwenda:before {
  content: "\e889";
}

.iconwenda1:before {
  content: "\e8cd";
}

.iconarrow-down-bold:before {
  content: "\e686";
}

.icongroup:before {
  content: "\e645";
}

.icondata-view:before {
  content: "\e66c";
}

.iconnotice:before {
  content: "\e61e";
}

.iconarrow-right-bold:before {
  content: "\e687";
}

.iconaddress:before {
  content: "\e6a7";
}

.icontrash:before {
  content: "\e633";
}

.iconclear:before {
  content: "\e601";
}

.iconclose:before {
  content: "\e66d";
}

.iconhome:before {
  content: "\e608";
}

.iconsearch1:before {
  content: "\e600";
}

.iconarrow-left-bold:before {
  content: "\e685";
}

