<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<form action="/sym/upload" method="post" enctype="multipart/form-data">
			<input type="text" name="name" placeholder="author" />
			<br />
			<input type="file" name="file"/>
			<input type="submit" value="submit" />
		</form>
	</body>
</html>